# Private files/folders
HighScoreTestSpider

# Dependancies
Deps/
DepsSrc/

# DROD Build Folders
BackEndLib/Debug/
BackEndLib/Debug-Temp/
BackEndLib/Release-Temp/
BackEndLib/Release/
BackEndLib/CaravelRelease/
BackEndLib/CaravelRelease-Temp/
CaravelNet/Debug/
CaravelNet/Debug-Temp/
CaravelNet/*Release/
CaravelNet/*Release-Temp/
DROD/Debug/
DROD/Debug-Temp/
DROD/DebugVS2008/
DROD/DebugVS2013/
DROD/DebugVS2013-Temp/
DROD/Steam/
DROD/SteamBuildDats/
DROD/Release/
DROD/Release-Temp/
DROD/CaravelRelease/
DROD/CaravelRelease-Temp/
DRODLib/Debug/
DRODLib/Debug-Temp/
DRODLib/DebugVS2008/
DRODLib/DebugVS2013/
DRODLib/Release/
DRODLib/Release-Temp/
DRODLib/CaravelRelease/
DRODLib/CaravelRelease-Temp/
DRODLib/Steam/
DRODLib/BuildDats/
DRODLib/SteamBuildDats/
DRODLibTests/Debug/
DRODLibTests/Debug-Temp/
DRODLibTests/DebugVS2008/
DRODLibTests/DRODLibTest.log
DRODLibTests/Release/
DRODLibTests/Release-Temp/
DRODLibTests/CaravelRelease/
DRODLibTests/CaravelRelease-Temp/
DRODUtil/Debug/
DRODUtil/Debug-Temp/
DRODUtil/DebugVS2008/
DRODUtil/DebugVS2013/
DRODUtil/DebugVS2013-Temp/
DRODUtil/Release/
DRODUtil/Release-Temp/
DRODUtil/CaravelRelease/
DRODUtil/CaravelRelease-Temp/
DRODUtil/Steam/
DRODUtil/Steam-Temp/
FrontEndLib/Debug-Temp/
FrontEndLib/Debug/
FrontEndLib/Release/
FrontEndLib/Release-Temp/
FrontEndLib/CaravelRelease/
FrontEndLib/CaravelRelease-Temp/
*/BuildDats/
*/SteamBuildDats/
*/*-Temp/
Master/Linux/deps
Master/Linux/static-libs
Master/Linux/build.*
Master/Linux/builds/
Master/Linux/drod-sdl2.sublime-*

# DROD RPG Build Folders
drodrpg/CaravelNet/Debug/
drodrpg/CaravelNet/Debug-Temp/
drodrpg/CaravelNet/Release/
drodrpg/CaravelNet/Release-Temp/
drodrpg/DROD/Debug/
drodrpg/DROD/Debug-Temp/
drodrpg/DROD/Steam/
drodrpg/DROD/SteamBuildDats/
drodrpg/DROD/Release/
drodrpg/DROD/Release-Temp/
drodrpg/DROD/CaravelRelease/
drodrpg/DROD/CaravelRelease-Temp/
drodrpg/DRODLib/Debug/
drodrpg/DRODLib/Debug-Temp/
drodrpg/DRODLib/Release/
drodrpg/DRODLib/Release-Temp/
drodrpg/DRODLib/CaravelRelease/
drodrpg/DRODLib/CaravelRelease-Temp/
drodrpg/DRODLib/Steam/
drodrpg/DRODLib/BuildDats/
drodrpg/DRODLib/SteamBuildDats/
drodrpg/DRODUtil/Debug/
drodrpg/DRODUtil/Debug-Temp/
drodrpg/DRODUtil/Release/
drodrpg/DRODUtil/Release-Temp/
drodrpg/DRODUtil/CaravelRelease/
drodrpg/DRODUtil/CaravelRelease-Temp/
drodrpg/*/BuildDats/
drodrpg/*/SteamBuildDats/
drodrpg/*/*-Temp/
drodrpg/Master/Linux/deps
drodrpg/Master/Linux/static-libs

# Various things we don't want.
**/.vs/
**/*.obj
**/*.log
**/*.dll
**/*.lib
**/*.exe
**/*.vcxproj.user
**/*.vcxproj.filters
!drod/drod.2019.vcxproj.filters
!DRODLib/DRODLib.2019.vcxproj.filters
!DRODLibTests/DRODLibTest.2019.vcxproj.filters
!BackEndLib/BackEndLib.2019.vcxproj.filters
!FrontEndLib/FrontEndLib.2019.vcxproj.filters
**/*.suo
**/*.sdf
**/*.opensdf
**/*.vspx
**/*.tlog
**/*.pdb

# OS X specific files/folders
Master/Darwin/custom/
.DS_Store
.idea